.jumbotron {
  background: center;
  background-image: url(https://github.com/ACCSoftwareBootcamp/Students2018/blob/master/03-CSS-Bootstrap/Projects/2.FullSiteProject/img/backgrounds/background3.jpg?raw=true);
  position: relative;
  background-repeat: no-repeat;
  overflow: auto;
  background-size: cover;
  height: 600px;
}

.jumbotron-content {
  margin-top: 100px;
  color: white;
  font-size: 80px;
  overflow: hidden;
}

.smiley {
  float: left !important;
  height: 22px;
  width: 25px;
  margin-right: 10px;
}

.navbar-brand {
  font-family: 'Anton', sans-serif;
  color: black !important;
}

#jumboform {
  background-color: white;
}

#contactinfo {
  margin-top: 10px;
  margin-bottom: 100px;
}

.footer-bottom {
  color: white;
  background-color: #263238 !important;
  position: relative;
  /*keep relative positioning to prevent section overlays*/
  height: auto;
  /* added auto height for responsive purposes*/
  width: 100%;
  bottom: 0;
}

.footer-bottom {
  color: #1E74FF;
}

.footer-bottom h3 {
  font-family: 'Anton', sans-serif;
  color: white;
}

.smiley1 {
  float: left;
  height: 22px;
  width: 25px;
  margin-top: 12px;
  margin-right: 10px;
  margin-top: 20px;
}

.col-sm-2 ul {
  padding-left: 0;
  text-decoration: none;
  list-style: none;
}

.col-sm-2 a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.col-sm-12 {
  bottom: 0;
}

.content {
  margin-bottom: 120px;
}

.content h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}