
<% include partials/header.ejs %>

<h1>Welcome to the home page!</h1>

<p>We sell the best <%= pastry %> in the city!</p>

<ul>

    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
        
</ul>

<% include partials/footer.ejs %>