body{
  background-color: #eaf0f2;
  margin: 0;
  padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #263238;
    width: 100%;
    max-width: 1950px;
}

.logo {
  float: left;
  font-size: 42px;
  line-height: 35px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 15px;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: Oswald;
}

.fa {
  float: left;
  color: white;
  line-height: 73px;
  padding-right: 70px;
}

li {
    float: left;
}

li a, .dropbtn {
    margin: 0;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    font-family: Oswald;
    font-size: 25px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #546E7A;
    transition:all 0.6s ease; <!-- this is the transition time -->

}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    margin: 0;
    display: none;
    position: absolute;
    background-color: #263238;
    line-height: 45px;
    min-width: 160px;
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
}

.dropdown-content a:hover {
  background-color: #CFD8DC;
  transition:all 0.6s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1{
  font-family: Oswald;
  margin: 20px;
}

.picture {
  margin-left: 20px;
  width: 600px;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #263238;
  text-align: center;
  margin-top: 100px;
  height: 50px;
}


.footeritems h3 {
  color: #B0BEC5;
  font-size: 28px;
  font-family: Oswald;
}

.footeritems a {
  color: white;
  text-decoration: none;
  font-family: Oswald;
}

.footeritems a:hover {
  background: #CFD8DC;
  transition:all 0.6s ease;

}

.footeritems p {
  color: #B0BEC5;
  font-size: 16;
  font-family: Oswald;

}
