<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
        <div class="jumbotron text-center">
        <h1>Welcome to the Donut Shop</h1>
        <p>We bake the hottest, freshest donuts that you can imagine. You want donuts? we got it.</p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
